<!--This will render the dashboard page for logged in users-->
<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome to Baker Street</h2>
        <h1>Welcome to your Dashboard, {{ user.username }}!</h1>
        
        <h2>Your Top 6 Favorite Golfers</h2>
        {% if favorite_golfers %}
            <ul>
                {% for favorite in favorite_golfers %}
                    <li>{{ favorite.golfer.name }} - Tier {{ favorite.golfer.get_tier_display }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have not selected any favorite golfers yet.</p>
        {% endif %}
        
        <a href="/accounts/select_favorite_golfers/">Select or Update Your Favorite Golfers</a>

    </body>
</html>
