<!--This will render the dashboard page for logged in users-->
<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome to Baker Street</h2>
        <h1>Welcome to your Dashboard, {{ user.username }}!</h1>
        <!--<pre>{{golfers}}</pre>-->
        
        <ul>
            {% for golfer in golfers %}
                <li>
                    {{ golfer.name }} - {{golfer.get_tier_display}}
                </li>
            {% empty %}
            <li>No golfers found</li>
            {% endfor %}
        </ul>
    </body>
</html>
